<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Merlion Sheepstick</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Home</h1>
        <hr/>
        <div class="row">
            <div class="menu col-md-3">
                <ul class="list-unstyled">
                <li><h4>Merlion</h4>
                    <ul>
                        <li><a href="/#mlcatalogs" class="btn btn-default">Все</a></li>
                        <li><a href="/#mlcatalogsFiltered" class="btn btn-default">Отслеживаемые</a></li>
                    </ul>
                </li>
                <li><h4>Shop</h4>
                    <ul>
                        <li><a href="/#tracking" class="btn btn-default">Категории</a></li>
                        <li><a href="/#staging" class="btn btn-default">Очередь</a></li>
                    </ul>
                </li>
                </ul>
            </div>
            <div class="content col-md-9">

            </div>
        </div>
    </div>
    <script type="text/x-underscore" id="mlCatalogs-template">
        <table class="table stripped">
            <thead>
            <tr>
                <th>Parent</th>
                <th>Id</th>
                <th>name</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <% _.each(mlCatalogs, function(elem) { %>
            <tr>
                <td><%= elem.get('parentId') %></td>
                <td><%= elem.get('id') %></td>
                <td><%= elem.get('name') %></td>
                <% if (tracks[elem.get('id')]) { %>
                <td> <button type="button"
                             class="btn btn-default dont-track-node"
                             data-id="<%= elem.get('id') %>"
                             data-parent-id="<%= elem.get('parentId') %>"
                             data-name="<%= elem.get('name') %>">
                    <i class="glyphicon glyphicon-star"></i></button> </td>
                <% } else { %>
                <td> <button type="button"
                             class="btn btn-default track-node"
                             data-id="<%= elem.get('id') %>"
                             data-parent-id="<%= elem.get('parentId') %>"
                             data-name="<%= elem.get('name') %>">
                    <i class="glyphicon glyphicon-star-empty"></i></button>  </td>

                <% } %>
                <td>
                    <button type="button" class="go-to-items btn btn-default" data-id="<%= elem.get('id') %>">
                        <i class="glyphicon glyphicon-th-list"></i>
                    </button>
                </td>
            </tr>
            <% }); %>
            </tbody>
        </table>
    </script>

    <script type="text/x-underscore" id="mlCatalogsFiltered-template">
        <table class="table stripped">
            <thead>
            <tr>
                <th>Parent</th>
                <th>Id</th>
                <th>name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <% _.each(mlCatalogs, function(elem) { %>
            <tr>
                <td><%= elem.get('parentId') %></td>
                <td><%= elem.get('id') %></td>
                <td><%= elem.get('name') %></td>
                <td>
                    <button type="button" class="go-to-items btn btn-default" data-id="<%= elem.get('id') %>">
                        <i class="glyphicon glyphicon-th-list"></i>
                    </button>
                </td>

            </tr>
            <% }); %>
            </tbody>
        </table>
    </script>

    <script type="text/x-underscore" id="itemsList-template">
        <table class="table stripped">
            <thead>
            <tr>
                <th>Код</th>
                <th>Артикул</th>
                <th>Бренд</th>
                <th>Наименование</th>
                <th>Цена</th>
                <th>Наличие</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <% _.each(items, function(elem) { %>
            <% if(elem.item) { %>
            <tr>
                <td><%= elem.item['id'] %></td>
                <td><%= elem.item['vendorCode'] %></td>
                <td><%= elem.item['brand'] %></td>
                <td><%= elem.item['name'] %></td>
                <% if (elem.stock) { %>
                <td><%= elem.stock['price'] %></td>
                <td><%= elem.stock['available'] %></td>
                <% } else { %>
                <td class="text-center" colspan="2">----</td>
                <% } %>
                <td>
                    <button data-id="<%= elem.item['id'] %>" type="button" class="do-stage btn btn-default">
                        <i class="glyphicon glyphicon-time"></i>
                    </button>
                </td>
                <td>
                    <button data-id="<%= elem.item['id'] %>" type="button" class="do-bind btn btn-default">
                        <i class="glyphicon glyphicon-link"></i>
                    </button>
                </td>
            </tr>
            <% } %>
            <% }); %>
            </tbody>
        </table>
    </script>

    <script type="text/x-underscore" id="trackings-template">
        <table class="table stripped">
            <thead>
            <tr>
                <th>Parent</th>
                <th>Id</th>
                <th>name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <% _.each(mlCatalogs, function(elem) { %>
            <tr>
                <td><%= elem.get('parentId') %></td>
                <td><%= elem.get('id') %></td>
                <td><%= elem.get('name') %></td>
                <% if (tracks[elem.get('id')]) { %>
                <td> <button type="button"
                             class="btn btn-default dont-track-node"
                             data-id="<%= elem.get('id') %>"
                             data-parent-id="<%= elem.get('parentId') %>"
                             data-name="<%= elem.get('name') %>">
                    <i class="glyphicon glyphicon-star"></i></button> </td>
                <% } else { %>
                <td> <button type="button"
                             class="btn btn-default track-node"
                             data-id="<%= elem.get('id') %>"
                             data-parent-id="<%= elem.get('parentId') %>"
                             data-name="<%= elem.get('name') %>">
                    <i class="glyphicon glyphicon-star-empty"></i></button>  </td>

                <% } %>
                <td></td>
            </tr>
            <% }); %>
            </tbody>
        </table>
    </script>

    <script type="text/x-underscore" id="staging-template">
        <table class="table stripped">
            <thead>
            <tr>
                <th>Код</th>
                <th>Артикул</th>
                <th>Бренд</th>
                <th>Наименование</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <% _.each(items, function(elem) { %>
            <tr>
                <td><%= elem.get('id') %></td>
                <td><%= elem.get('vendorCode') %></td>
                <td><%= elem.get('brand') %></td>
                <td><%= elem.get('name') %></td>
                <td>
                    <button data-id="<%= elem.get('id') %>" type="button" class="do-bind btn btn-default">
                        <i class="glyphicon glyphicon-link"></i>
                    </button>
                </td>
                <td>
                    <button data-id="<%= elem.get('id') %>" type="button" class="do-unstage btn btn-default">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </td>
            </tr>
            <% }); %>
            </tbody>
        </table>
    </script>

    <script type="text/x-underscore" id="bind-template">
        <h4><%= item.get('vendorCode') %></h4>
        <p><strong><%= item.get('brand') %></strong> <%= item.get('name') %></p>
        <form class="bind-form form-inline">
            <div class="form-group">
                <label for="id">Код товара</label>
                <input type="text" class="form-control" id="id" placeholder="9000">
            </div>
            <button type="submit" class="do-search btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
            <button type="button" class="do-clear btn btn-default"><i class="glyphicon glyphicon-grain"></i></button>
        </form>

        <table id="search-result" class="table table-condensed">
            <thead>
                <th>bitrix id</th>
                <th>article</th>
                <th>name</th>
                <th></th>
            </thead>
            <tbody id="search-result-body">
            </tbody>
        </table>
    </script>

    <script  type="text/x-underscore" id="search-result-template">
        <tr>
            <td><%= item['id'] %></td>
            <td><%= item['vendorCode'] %></td>
            <td><%= item['name'] %></td>
            <td><button data-id="<%= item['id'] %>" type="button" class="do-bind btn btn-default"><i class="glyphicon glyphicon-link"></i></td>
        </tr>
    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script>
        $.ajaxPrefilter( function( options, originalOptions, jqXHR) {
            options.url = 'http://127.0.0.1:8080' + options.url;
        });

        var MLCatalogs = Backbone.Collection.extend({
            url: '/mlcatalogs'
        });

        var Tracks = Backbone.Collection.extend({
            url: '/track'
        });

        var StagingNodes = Backbone.Collection.extend({
            url: '/stage'
        });

        var TrackNode = Backbone.Model.extend({
            urlRoot: '/track'
        });

        var BondNode = Backbone.Model.extend({
            urlRoot: '/stage'
        });

        var Items = Backbone.Model.extend({
            urlRoot: '/mlcatalogItems'
        });

        var Item = Backbone.Model.extend({
            urlRoot: '/item'
        });

        var ItemPair = Backbone.Model.extend({
            urlRoot: '/bitrix'
        });


        var MLCatalogList = Backbone.View.extend({
            el: '.content',
            template: _.template($('#mlCatalogs-template').html()),
            render: function () {
                var that = this;
                var mlCatalogs = new MLCatalogs();
                var tracks = new Tracks();
                $.when(mlCatalogs.fetch(), tracks.fetch()).done(function() {
                    that.$el.html(that.template({mlCatalogs: mlCatalogs.models, tracks: tracks.models[0].attributes}));
                });
            },
            events: {
                'click .track-node' : 'trackNode',
                'click .dont-track-node' : 'discardNodeTrack',
                'click .go-to-items' : 'gotoItems'
            },
            trackNode: function(ev) {
                var track = new TrackNode();
                var el = $(ev.currentTarget);
                el.attr('disabled', 'disabled');
                var data = ev.currentTarget.dataset;
                console.log("Will track " + data.id);
                track.set({id : data.id, parentId: data.parentId, name: data.name });
                track.save({id: data.id}, { success: function() {
                    el.removeClass('track-node').addClass('dont-track-node');
                    el.find('i').removeClass('glyphicon-star-empty').addClass('glyphicon-star');
                    el.removeAttr('disabled');
                    }
                });
            },
            discardNodeTrack: function(ev) {
                var track = new TrackNode();
                var el = $(ev.currentTarget);
                var data = ev.currentTarget.dataset;
                el.attr('disabled', 'disabled');
                track.set({id: data.id});
                console.log("Will discard tracking of " + data.id);
                track.destroy({success: function() {
                    el.addClass('track-node').removeClass('dont-track-node');
                    el.find('i').removeClass('glyphicon-star').addClass('glyphicon-star-empty');
                    el.removeAttr('disabled');
                    console.log("Destroyed");
                    }
                });
            },
            gotoItems: function(ev) {
                router.navigate('items/'+ev.currentTarget.dataset.id, {trigger: true});
            }
        });

        var MLCatalogFilteredList = Backbone.View.extend({
            el: '.content',
            template: _.template($('#mlCatalogsFiltered-template').html()),
            render: function () {
                var that = this;
                var mlCatalogs = new MLCatalogs();
                $.when(mlCatalogs.fetch({ data: $.param({filtered: true})})).done(function() {
                    that.$el.html(that.template({mlCatalogs: mlCatalogs.models}));
                });
            },
            events: {
                'click .go-to-items' : 'gotoItems'
            },
            gotoItems: function(ev) {
                router.navigate('items/'+ev.currentTarget.dataset.id, {trigger: true});
            }
        });

        var TrackingList = Backbone.View.extend({
            el: '.content',
            template: _.template($('#trackings-template').html()),
            render: function () {
                var that = this;
                var mlCatalogs = new MLCatalogs();
                var tracks = new Tracks();
                $.when(mlCatalogs.fetch(), tracks.fetch()).done(function() {
                    that.$el.html(that.template({mlCatalogs: mlCatalogs.models, tracks: tracks.models[0].attributes}));
                });
            }
        });

        var ItemsList = Backbone.View.extend({
            el: '.content',
            template: _.template($('#itemsList-template').html()),
            render: function(cid) {
                var that = this;
                console.log('ItemsList rendering');
                console.log('cid is ' + cid);
                var item = new Items({id : cid});
                item.fetch({ success: function(data) {
                        that.$el.html(that.template({items: data.values()}));
                    }
                });
            },
            events : {
                'click .do-stage' : 'doStage'
            },
            doStage: function(ev) {
                var bond = new BondNode();
                var el  = $(ev.currentTarget);
                el.parent().parent().addClass("warning");
                bond.save({id: ev.currentTarget.dataset.id}, {success: function(b) {
                        el.parent().parent().remove();
                    }
                });
            }
        });

        var BindProcess = Backbone.View.extend({
            el: '.content',
            template: _.template($('#bind-template').html()),
            render: function(merlionId) {
                var that = this;
                var item = new Item({id: merlionId});
                item.fetch({success: function(i) {
                        console.log(i);
                        that.$el.html(that.template({item: i}));
                    }
                });
                console.log('Bind process renders');
            },
            events: {
//                'change .bind-form' : 'searchCode',
                'click .do-search' : 'searchCode',
                'click .do-bind' : 'doBind',
                'click .do-clear' : 'doClear',
            },
            searchCode: function(ev) {
                var that = this;
                var value = $('#id').val();
                var rowTpl = _.template($('#search-result-template').html());
                if ( value && value.length >= 1 ) {
                    var itemPair = new ItemPair({id: value});
                    itemPair.fetch({success:  function(ip) {
                            var fst = "";
                            if(itemPair.get("key")) {
                                fst += rowTpl({item: itemPair.get("key")});
                             }
                            if(itemPair.get("value")) {
                                fst += rowTpl({item: itemPair.get("value")});
                             }
                            $("#search-result-body").append(fst);
                        }
                    });
                }
            },
            doBind: function(ev) {
                console.log('binding!');
            },
            doClear: function() {
                $("#search-result-body").children().remove(); // >_<  RIP
            }
        });

        var StagingList = Backbone.View.extend({
            el: '.content',
            template: _.template($('#staging-template').html()),
            render: function() {
                var that = this;
                var stagingNodes = new StagingNodes();
                $.when(stagingNodes.fetch()).done(
                    function() {
                        that.$el.html(that.template({items: stagingNodes.models}));
                    }
                );
                console.log("Rendering staging list");
            },
            events: {
                'click .do-unstage': 'unstage'
            },
            unstage: function(ev) {
                console.log('Unstaging ' + ev.currentTarget.dataset.id);
                var bond = new BondNode({ id : ev.currentTarget.dataset.id});
                var el  = $(ev.currentTarget);
                el.parent().parent().addClass("warning");
                bond.destroy({
                    success: function() {
                        el.parent().parent().remove();
                    }
                });
            }
        });

        var Router = Backbone.Router.extend({
            routes: {
                'mlcatalogs'         : 'mlcatalogs',
                'mlcatalogsFiltered' : 'mlcatalogsFiltered',
                'items/:cid'         : 'items',
                'tracking'           : 'tracking',
                'staging'            : 'staging',
                'bind/:mid'          : 'bind'
            },
            mlcatalogs: function() {
                console.log('mlcatalog loaded');
                mlCatalogList.render();
            },
            mlcatalogsFiltered: function() {
                console.log('filtered catalogs loaded');
                mlCatalogFilteredList.render();
            },
            items: function(cid) {
                console.log('items loaded');
                itemsList.render(cid);
            },
            tracking: function() {
                console.log('catalog loaded');
                trackingList.render();
            },
            staging: function() {
                console.log('staging loaded');
                stagingList.render();
            },
            bind: function(mid) {
                console.log('binding loaded');
                bindProcess.render(mid);
            }
        });

        var mlCatalogList = new MLCatalogList();
        var mlCatalogFilteredList = new MLCatalogFilteredList();
        var trackingList = new TrackingList();
        var stagingList = new StagingList();
        var itemsList = new ItemsList();
        var bindProcess = new BindProcess();

        var router = new Router();

        Backbone.history.start();
    </script>
</body>
</html>