<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Merlion Sheepstick</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Home</h1>
        <hr/>
        <div class="catalog">

        </div>
    </div>

    <script type="text/template" id="mlCatalog-template">
        <table class="table stripped">
            <thead>
                <tr>
                    <th>Parent</th>
                    <th>Id</th>
                    <th>name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% _.each(mlCatalog, function(elem) { %>
                    <tr>
                        <td><%= elem.get('parentId') %></td>
                        <td><%= elem.get('id') %></td>
                        <td><%= elem.get('name') %></td>
                        <% if (tracks[elem.get('id')]) { %>
                        <td> <button type="button"
                                     class="btn btn-default dont-track-node"
                                     data-id="<%= elem.get('id') %>"
                                     data-parent-id="<%= elem.get('parentId') %>"
                                     data-name="<%= elem.get('name') %>">
                            <i class="glyphicon glyphicon-star"></i></button> </td>
                        <% } else { %>
                        <td> <button type="button"
                                class="btn btn-default track-node"
                                data-id="<%= elem.get('id') %>"
                                data-parent-id="<%= elem.get('parentId') %>"
                                data-name="<%= elem.get('name') %>">
                            <i class="glyphicon glyphicon-star-empty"></i></button>  </td>

                        <% } %>
                        <td></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script>
        $.ajaxPrefilter( function( options, originalOptions, jqXHR) {
            options.url = 'http://127.0.0.1:8080' + options.url;
        });

        var MLCatalog = Backbone.Collection.extend({
            url: '/catalog'
        });

        var Tracks = Backbone.Collection.extend({
            url: '/track'
        });

        var TrackNode = Backbone.Model.extend({
            urlRoot: '/track'
        });

        var MLCatalogList = Backbone.View.extend({
            el: '.catalog',
            render: function () {
                var that = this;
                var mlCatalog = new MLCatalog();
                var tracks = new Tracks();
                $.when(mlCatalog.fetch(), tracks.fetch()).done(function() {
                    var template = _.template($('#mlCatalog-template').html());
                    that.$el.html(template({mlCatalog: mlCatalog.models, tracks: tracks.models[0].attributes}));
                });
            },
            events: {
                'click .track-node' : 'trackNode',
                'click .dont-track-node' : 'discardNode'
            },
            trackNode: function(ev) {
                var track = new TrackNode();
                var el = $(ev.currentTarget);
                el.attr('disabled', 'disabled');
                var data = ev.currentTarget.dataset;
                console.log("Will track " + data.id);
                track.set({id : data.id, parentId: data.parentId, name: data.name });
                track.save({id: data.id}, { success: function() {
                    el.removeClass('track-node').addClass('dont-track-node');
                    el.find('i').removeClass('glyphicon-star-empty').addClass('glyphicon-star');
                    el.removeAttr('disabled');
                    }
                });
            },
            discardNode: function(ev) {
                var track = new TrackNode();
                var el = $(ev.currentTarget);
                el.attr('disabled', 'disabled');
                track.set({id: ev.currentTarget.dataset.id});
                console.log("Will discard tracking of " + ev.currentTarget.dataset.id);
                track.destroy({success: function() {
                    el.addClass('track-node').removeClass('dont-track-node');
                    el.find('i').removeClass('glyphicon-star').addClass('glyphicon-star-empty');
                    el.removeAttr('disabled');
                    console.log("Destroyed");
                    }
                });
            }
        });

        var Router = Backbone.Router.extend({
            routes: {
            '': 'main'
            }
        });

        var mlCatalogList = new MLCatalogList();

        var router = new Router();
        router.on('route:main', function() {
            console.log("home loaded");
            mlCatalogList.render();
        });

        Backbone.history.start();
    </script>
</body>
</html>